.button {
    display: inline-block;
    color: inherit;
    background-color: transparent;
    text-decoration: inherit;
    text-align: center;
    border: ($global-point-rate * .25) solid transparent;
    border-radius: $global-point-rate * .5; // 4px
    padding: ($global-point-rate * 1.5) ($global-point-rate * 2.5);
    max-width: 100%;
    font: inherit;
    line-height: 1.2;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    transition:
        opacity $transition-fast-rate,
        color $transition-fast-rate,
        background-color $transition-fast-rate;

    // .button--primary-1
    &--primary-1 {
        background-color: color('primary-1');
        color: color('light');

        // .button--primary-1:hover
        // .button--primary-1:focus
        &:hover,
        &:focus {
            background-color: darken(color('primary-1'), 15%);
        }
    }

    // .button--primary-2
    &--primary-2 {
        background-color: color('primary-2');
        color: color('light');

        // .button--primary-1:hover
        // .button--primary-1:focus
        &:hover,
        &:focus {
            background-color: darken(color('primary-2'), 15%);
        }
    }

    // .button--full
    &--full {
        display: block;
        width: 100%;
    }

    // .button--disabled
    &--disabled {
        background-color: color('dark-1');
        opacity: .3;
        user-select: none;
        cursor: not-allowed;

        // .button--disabled:hover
        // .button--disabled:focus
        &:hover,
        &:focus {
            background-color: color('dark-1');
        }
    }
}
