.command {
    $_size: $global-point-rate * 5; // 40px
    display: flex;
    align-items: center;
    justify-content: center;
    width: $_size;
    height: $_size;
    padding: $global-point-rate; // 8px
    border: 1px solid color('dark');
    border-radius: $global-point-rate * .5; // 4px
    font-weight: 700;
    background-color: color('light-2');
    user-select: none;

    // command--placeholder
    &--placeholder {
        border-style: dashed;
        font-weight: 400;
        background-color: color('light-3');
    }
}
