.footer-list {

    // .footer-list__header
    &__header {
        font-weight: 500;
    }

    // .footer-list__body
    &__body {
        font-size: ms(-1);
        padding-top: $global-point-rate * 2; // 16px
    }

    // .footer-list__link
    &__link {
        display: block;
        padding-top: $global-point-rate * .75;
        padding-bottom: $global-point-rate * .75;

        // .footer-list__link:hover
        &:hover {
            text-decoration: underline;
        }
    }
}
