.hero-section {

    // .hero-section__background
    &__background {
        max-width: $global-point-rate * 32; // 256px
        position: absolute;
        top: 0;
        right: 0;
        opacity: .04;
        transform: translate(15%, -45%);
        pointer-events: none;
        user-select: none;

        @include media-breakpoint-up('md') {
            transform: translate(35%, -45%);
        }
    }

    // .hero-section__content
    &__content {
        position: relative;
    }
}
