.input {
    $c: &;
    display: block;

    // .input__header
    &__header {
        display: flex;
        align-items: baseline;
        padding-bottom: $global-point-rate * 2; // 16px
        font-weight: 400;
    }

    // .input__ordinal
    &__ordinal {
        flex: 0 0 auto;
        padding-right: $global-point-rate; // 8px
        color: color('dark-2');
        font-size: .8em;
    }

    // .input__messages
    &__messages {
        display: block;
        padding-top: $global-point-rate; // 8px
        font-weight: 400;
        font-size: ms(-1);
        color: color('form-error');
    }

    // .input__label
    &__label {
        flex: 1 1 auto;
    }

    // .input__element
    // .input__select
    &__element,
    &__select {
        display: block;
        width: 100%;
        border: 1px solid color('dark-1');
        border-radius: $global-point-rate * .5; // 4px
        padding: $global-point-rate * 1.25; // 10px
        background-color: color('light-3');
        line-height: line-height(1);
        color: color('dark');
        height: $global-point-rate * 5.25; // 42px
    }

    // .input--invalid
    &--invalid {

        // .input__element
        // .input__select
        #{$c}__element,
        #{$c}__select {
            border-color: color('form-error');
        }
    }

    // .input--disabled
    &--disabled {

        // .input__element
        // .input__select
        #{$c}__element,
        #{$c}__select {
            cursor: not-allowed;
            opacity: .3;
        }
    }
}
