.likert {
    $_spacing: $global-point-rate / 2;

    // .likert__values
    &__values {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 (-$_spacing);
        font-size: $global-point-rate * 5; // 40px
        overflow-x: auto;
    }

    // likert__labels
    &__labels {
        color: color('dark-2');
        padding-top: $global-point-rate * 2; // 16px
    }

    // likert__value
    &__value {
        flex: 0 0 auto;
        display: block;
        width: 1em;
        height: 1em;
        position: relative;
        background-color: color('light-3');
        border: 1px solid color('dark-1');
        border-radius: 50%;
        margin-right: $_spacing;
        margin-left: $_spacing;
        transition-duration: $transition-ultra-fast-rate;

        // likert__value::after
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 50%;
            width: .4em;
            height: .4em;
            transform: translate(50%, -50%);
            border-radius: inherit;
            background-color: transparent;
        }

        // likert__value--selected
        &--selected {
            &::after {
                background-color: color('primary-1');
            }
        }

        // likert__value--2
        &--2 {
            width: .9em;
            height: .9em;
        }

        // likert__value--1
        &--1 {
            width: .8em;
            height: .8em;
        }

        // likert__value--0
        &--0 {
            width: .7em;
            height: .7em;
        }
    }
}
