.pointer {
    position: absolute;
    bottom: 0;
    left: 0;

    // .pointer__outer
    &__outer {
        position: relative;
        padding-top: 100%;
    }

    // .pointer__inner
    &__inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .pointer__image
    &__image {
        display: block;
        width: 43.75%;
        opacity: .7;
    }
}
