.procedure {
    $c: &;
    $_spacing: $global-point-rate;

    // .procedure__container
    &__container {
        border: 1px dashed rgba(color('dark-2'), .4);
        border-radius: $global-point-rate * .5; // 4px
    }

    // .procedure__wrapper
    &__wrapper {
        margin: -$_spacing;
        padding: $global-point-rate;
    }

    // .procedure__inner
    &__inner {
        position: relative;
    }

    // .procedure__pool
    &__pool {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0 ($_spacing / 2);
        min-height: 56px;

        // .procedure__pool--interactive
        &--interactive {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            // .procedure__pool--interactive .procedure__item
            #{$c}__item {
                cursor: pointer;
            }
        }

        // .procedure__pool--placeholders
        &--placeholders {
            pointer-events: none;
            opacity: .2;
        }

        // .procedure__pool--presentational
        &--presentational {
            overflow: hidden;
            flex-wrap: nowrap;
            opacity: .35;

            // .procedure__pool--presentational::after
            &::after {
                content: '';
                display: block;
                background-color: rgba(yellow, .5);
                background: color('light');
                background: linear-gradient(90deg, rgba(color('light'), 0) 0%, rgba(color('light'), .9) 55%, rgba(color('light'), 1) 100%);
                position: absolute;
                top: 0;
                right: -($_spacing / 2);
                bottom: 0;
                width: 8%;
                min-width: $global-point-rate * 4; // 32px
            }
        }
    }

    // .procedure__item
    &__item {
        margin: $_spacing ($_spacing / 2);
        user-select: none;
        cursor: default;
    }
}
