.spinner {
    $_animation-time: $transition-slow-rate * 2;
    position: relative;
    width: 1em;
    height: 1em;

    // .spinner::before
    // .spinner::after
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: color('primary-1');
        opacity: 0.6;
        animation: _components-atoms-spinner $_animation-time infinite ease-in-out;
    }

    // .spinner::after
    &::after {
        animation-delay: -$_animation-time / 2;
    }

    // .spinner--2x
    &--2x {
        width: 2em;
        height: 2em;
    }
}

@keyframes _components-atoms-spinner {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
