.tile {
    $c: &;

    // .tile__wrapper
    &__wrapper {
        max-width: 100%;
        width: $global-point-rate * 9; // 72px
        height: 0;
        padding-bottom: 100%;
        position: relative;
    }

    // .tile__inner
    &__inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 4.17%;
        background-color: color('light-2');
        border: 1px solid color('dark-2');
    }

    // .tile--empty
    &--empty {

        // .title__inner
        #{$c}__inner {
            opacity: 0;
            // opacity: .2;
            background: transparent;
        }
    }

    // .tile--checkpoint
    &--checkpoint {

        // .tile--checkpoint:not(.tile--visited)
        &:not(#{$c}--visited) {

            // .title__inner
            #{$c}__inner {
                background: #ffeb3b;
            }
        }
    }

    // .tile--start
    &--start {

        // .title__inner
        #{$c}__inner {
            background: color('primary-1');
        }
    }
}
