.footer {
    border-top: $global-point-rate * .5 solid color('primary-2');

    // .footer__logo
    &__logo {
        flex: 0 0 $global-point-rate * 14; // 112px
    }

    // .footer__content
    &__content {
        padding-left: $global-point-rate * 3; // 24px

        @include media-breakpoint-up('md') {
            padding-left: $global-point-rate * 10; // 80px
        }
    }
}
