.menu {

    // .menu__bar
    &__bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    // .menu__logo
    &__logo {
        max-width: $global-point-rate * 16; // 128px
    }
}
