.board {
    $_spacing: 1px;
    $_spacing-sm: 2px;
    $_spacing-md: 4px;

    display: inline-flex;
    max-width: 100%;

    // .board__inner
    &__inner {
        position: relative;
        overflow: hidden;
        margin: -$_spacing;
        pointer-events: none;

        @include media-breakpoint-up('sm') {
            margin: -$_spacing-md;
        }

        @include media-breakpoint-up('md') {
            margin: -$_spacing-md;
        }
    }

    // .board__row
    &__row {
        display: flex;
    }

    // .board__tile
    &__tile {
        padding: $_spacing;
        overflow: hidden;

        @include media-breakpoint-up('sm') {
            padding: $_spacing-sm;
        }

        @include media-breakpoint-up('md') {
            padding: $_spacing-md;
        }
    }
}
