@mixin create-margin($suffix, $value) {
    .m#{$suffix} {
        margin: $value;
    }
    .mv#{$suffix} {
        margin-top: $value;
        margin-bottom: $value;
    }
    .mh#{$suffix} {
        margin-right: $value;
        margin-left: $value;
    }
    .mt#{$suffix} {
        margin-top: $value;
    }
    .mr#{$suffix} {
        margin-right: $value;
    }
    .mb#{$suffix} {
        margin-bottom: $value;
    }
    .ml#{$suffix} {
        margin-left: $value;
    }
}
