@mixin create-padding($suffix, $value) {
    .p#{$suffix} {
        padding: $value;
    }
    .pv#{$suffix} {
        padding-top: $value;
        padding-bottom: $value;
    }
    .ph#{$suffix} {
        padding-right: $value;
        padding-left: $value;
    }
    .pt#{$suffix} {
        padding-top: $value;
    }
    .pr#{$suffix} {
        padding-right: $value;
    }
    .pb#{$suffix} {
        padding-bottom: $value;
    }
    .pl#{$suffix} {
        padding-left: $value;
    }
}
