@mixin include-font($name, $file-name, $weight) {
    $_fonts-path: '../../../fonts/#{$file-name}/#{$weight}/#{$file-name}-#{$weight}';
    @font-face {
        font-family: $name;
        font-weight: $weight;
        font-style: normal;
        src: local(''),
            url('#{$_fonts-path}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('#{$_fonts-path}.woff2') format('woff2'), /* Super Modern Browsers */
            url('#{$_fonts-path}.woff') format('woff'), /* Modern Browsers */
            url('#{$_fonts-path}.ttf') format('truetype'), /* Safari, Android, iOS */
            url('#{$_fonts-path}.svg##{$name}') format('svg'); /* Legacy iOS */
    }
}
