.homepage-hero {

    // .homepage-hero__image
    &__image {
        pointer-events: none;
        user-select: none;

        @include media-breakpoint-down('sm') {
            position: absolute;
            top: 0;
            right: 0;
            width: $global-point-rate * 25; // 200px
            transform: translate(23%, -50%);
            opacity: .75;
        }
    }
}
