.absolute {

    // .absolute--to-right
    &--to-right {
        right: 0;
    }

    // .absolute--to-bottom
    &--to-bottom {
        bottom: 0;
    }

    // .absolute--to-left
    &--to-left {
        left: 0;
    }

    // .absolute--to-top
    &--to-top {
        top: 0;
    }

    // .absolute--fill-height
    &--fill-height {
        top: 0;
        bottom: 0;
    }

    // .absolute--fill-width
    &--fill-width {
        right: 0;
        left: 0;
    }

    // .absolute--fill
    &--fill {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
