.bg-img {
    background-repeat: no-repeat;

    // .bg-img--cover
    &--cover {
        background-size: cover;
    }

    // .bg-img--contain
    &--contain {
        background-size: contain;
    }

    // .bg-img--fixed
    &--fixed {
        background-attachment: fixed;
    }

    // .bg-img--center
    &--center {
        background-position: center center;
    }

    // .bg-img--top
    &--top {
        background-position: top;
    }

    // .bg-img--right
    &--right {
        background-position: right;
    }

    // .bg-img--bottom
    &--bottom {
        background-position: bottom;
    }

    // .bg-img--left
    &--left {
        background-position: left;
    }
}
