@each $name, $hex in $colors {
    // e.g. => .bg--light, .bg--primary
    .bg--#{$name} {
        background-color: color($name);
    }
    // e.g. => .fc--light, .fc--primary
    .fc--#{$name} {
        color: color($name);
    }
    @each $breakpoint, $value in $breakpoints {
        @include media-breakpoint-up($breakpoint) {
            // e.g. => .bg-lg--light, .bg-lg--primary
            .bg-#{$breakpoint}--#{$name} {
                background-color: color($name);
            }
            // e.g. => .fc-lg--light, .fc-lg--primary
            .fc-#{$breakpoint}--#{$name} {
                color: color($name);
            }
        }
    }
}
