* {
    box-sizing: border-box;
}

html, body {
    font-size: font(0);
    font-weight: 300;
    color: color('dark');
}

img,
video,
figure {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
    height: 1px;
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.js-loading * {
    transition: none !important;
}
