.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

    // .page__menu
    &__menu {
        flex: 0 0 auto;
    }

    // .page__content
    &__content {
        flex: 1 0 auto;
    }

    // .page__footer
    &__footer {
        flex: 0 0 auto;
        margin-top: auto;
        margin-bottom: 0;
    }
}
