// make common, global spacing for every resolution
@each $name, $space in $spacing {
    $_suffix: '--#{$name}';
    @include create-margin($_suffix, $space);
    @if ($name != 'auto') {
        @include create-padding($_suffix, $space);
    }
}

// responsive spacing
@each $name, $space in $spacing {
    @each $breakpoint, $value in $breakpoints {
        $_suffix: '-#{$breakpoint}--#{$name}';
        @include media-breakpoint-only($breakpoint) {
            @include create-margin($_suffix, $space);
            @if ($name != 'auto') {
                @include create-padding($_suffix, $space);
            }
        }
    }
}
