body {
    font-family: 'Roboto', sans-serif;
    line-height: line-height(2);
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

.font-weight-thin {
    font-weight: 100;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-heavy {
    font-weight: 700;
}

.text-underline {
    text-decoration: underline;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

@each $ratio, $value in $font-ratios {
    // .fs--2
    .fs--#{$ratio} {
        font-size: font($ratio);
    }
    @each $breakpoint, $value in $breakpoints {
        @include media-breakpoint-up($breakpoint) {
            // e.g. '.fs--2-lg'
            .fs-#{$breakpoint}--#{$ratio} {
                font-size: font($ratio);
            }
        }
    }
}

@each $size, $value in $line-heights {
    // .lh--3
    .lh--#{$size} {
        line-height: $value;
    }
    @each $breakpoint, $value in $breakpoints {
        @include media-breakpoint-up($breakpoint) {
            // e.g. '.lh-lg--3'
            .lh-#{$breakpoint}--#{$size} {
                line-height: $value;
            }
        }
    }
}
