$colors: (
    // Base colors
    none: transparent, // Transparent

    // Light colors
    light: #ffffff, // White
    light-1: #f4f4f4, // White Smoke
    light-2: #e6e6e6, //Gainsboro
    light-3: #fbfbfb, // White

    // Dark colors
    dark: #000000, // Black
    dark-1: #333333, // Night Rider
    dark-2: #7b7b7b, // Grey

    // Primary colors
    primary-1: #1794e8, // Summer Sky
    primary-2: #607d8b, // Hoki

    // Error colors
    form-error: #f44336, // Red Orange
);
